%COPYRIGHT_LINE%

#pragma once

#include "CoreMinimal.h"
%BASE_CLASS_INCLUDE_DIRECTIVE%

/**
 * %CURSORFOCUSLOCATION%
 */
class %CLASS_MODULE_API_MACRO%%PREFIXED_CLASS_NAME% : public SCompoundWidget
{
public:
	SLATE_BEGIN_ARGS(%PREFIXED_CLASS_NAME%)
	{}
	SLATE_END_ARGS()

	/** Constructs this widget with InArgs */
	void Construct(const FArguments& InArgs);
};
