%COPYRIGHT_LINE%

#pragma once

#include "CoreMinimal.h"
%BASE_CLASS_INCLUDE_DIRECTIVE%
#include "%UNPREFIXED_CLASS_NAME%.generated.h"

/**
 * %CURSORFOCUSLOCATION%
 */
UCLASS(%UCLASS_SPECIFIER_LIST%)
class %CLASS_MODULE_API_MACRO%%PREFIXED_CLASS_NAME% : public %PREFIXED_BASE_CLASS_NAME%
{
	GENERATED_BODY()
	
	%EVENTUAL_CONSTRUCTOR_DECLARATION%
	%CLASS_PROPERTIES%
	%CLASS_FUNCTION_DECLARATIONS%
};
